/*******Base CSS********/
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,a,p,ol,ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*******Main CSS********/
.mob-menu{
    display: none;
}
.main-menu {
    justify-content: space-between;
}
.menu-left ul li:not(:last-child) {
    margin-right: 20px;
}
.menu-center {
    width: 200px;
    text-align: center;
    margin-left: -125px;
}






/*******Media Query********/

