/*******Base CSS********/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    ol,
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    a,
    a:hover,
    a:visited,
    a:focus,
    a:active {
        text-decoration: none;
        color: none;
    }

    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }


/********Main CSS**********/
    
    body {
        font-size: 16px;
        text-align: center;
        font-family: ProximaNova-Regular;
    }

    .section-padding {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .section-title {
        font-family: Montserrat;
        font-weight: 300;
        margin-bottom: 77px;
    }

    .section-title h4 {
        font-size: 21px;
        color: #828181;
        position: relative;
    }

    .section-title h4:after {
        height: 2px;
        width: 40px;
        left: 50%;
        bottom: -4px;
        position: absolute;
        background: #828181;
        content: '';
        transform: translateX(-50%);
    }

    .section-title p {
        font-size: 16px;
        color: #b7b3b3;
        margin-top: 12px;
    }


/*******Header-Area********/

    .header-area {
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        background: rgba(0, 0, 0, .5);
    }

    .navigation a {
        color: #fff;
    }

    .mob-menu {
        display: none;
    }

    .main-menu {
        justify-content: space-between;
        min-height: 50px;
    }

    .menu-left ul li:not(:last-child) {
        margin-right: 20px;
    }

    .menu-left a{
        font-family: ProximaNova-Regular;
    }

    .menu-left a:hover {
        font-family: ProximaNova-Bold;
    }

    .menu-left li {
        position: relative;
    }

    .menu-left li:after {
        position: absolute;
        left: 0;
        top: -14px;
        height: 8px;
        width: 100%;
        background-color: #54d154;
        content: '';
        display: none;
    }

    .menu-left li:hover:after {
        display: block;
    }

    .menu-center {
        width: 200px;
        text-align: center;
        margin-left: -125px;
        font-family: NautilusPompilius;
        font-size: 24px;
    }

    input[type="search"] {
        border: none;
        background: none;
    }

    input[type="search"]:focus {
        outline: none;
        background-color: none;
    }

    .butn {
        padding: 5px 15px;
        border-radius: 50px;
        background: rgba(255, 255, 255, .8);
        color: #fff;
    }

    .search-butn {
        color: #111;
        font-family: proximanova-light;
    }

    .search-butn button {
        color: #000;
        background: none;
        border: none;
    }

    .search-butn button:focus{
        outline: none;
    }



/********Hero-Area*********/

    .hero-area {
        background-image: url(../img/hero-bg.jpg);
        background-size: cover;
    }

    .hero-text {
        flex-direction: column;
    }

    .hero-text h1 {
        margin-top: 278px;
        text-transform: capitalize;
        color: #fff;
        font-size: 55px;
        font-family: Montserrat;
        font-weight: 700;
    }

    .wrk-wth-us-butn {
        margin-top: 42px;
        padding: 16px 27px;
        background: #54d154;
        font-family: ProximaNova-Regular;
        font-size: 22px;
    }

    .scrl-dwn-butn {
        margin-top: 218px;
        margin-bottom: 12px;
        color: #111;
        font-family: ProximaNova-Light;
    }


/*****What-We-Do-Area******/

    .wt-we-do-area {
        background: #fff;
    }

    .single-wt-we-do-item img {
        padding: 34px 27px;
        border-radius: 30px;
        background: #e1f3e1;
    }

    .single-wt-we-do-item h4 {
        font-family: ProximaNova-Bold;
        font-size: 24px;
        margin: 30px 0 20px;
    }

    .single-wt-we-do-item p {
        font-family: Montserrat;
        font-weight: 300;
    }
    .lern-more-butn {
        margin-top: 30px;
        background: #54d154;
        display: inline-block;
        font-family: ProximaNova-Bold;
    }


/***Our-Latest-Work-Area***/

    .our-lt-wrk-area{
        background-color: #54d154;
    }
    .our-lt-wrk-area-title h4{
        color: #207b20;
    }
    .our-lt-wrk-area-title h4:after {
        background: #207b20;
    }
    .our-lt-wrk-area-title p{
        color: #2b9b2b;
    }
    .our-lt-wrk-grid{
        margin-top: 55px;
        margin-bottom: 55px;
    }

    .vw-more-wrk-butn{
        background: #2b9b2b;
        font-family: ProximaNova-Regular;
        font-size: 16px;
        padding: 10px 20px;
    }
    /* ---- button ---- */

    .button {
      display: inline-block;
      padding: 10px 18px;
      background: #fff;
      border: 1px solid #2b9b2b;
      border-radius: 7px;
      background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
      color: #222;
      font-family: ProximaNova-Regular;
      font-size: 16px;
      cursor: pointer;
    }
    .button:focus {
        outline: none;
    }

    /*color when hover*/
    .button:hover,
    .button.is-checked:hover {
      background-color: #8CF;
      text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
      color: #222;
    }
    
    /*color when click*/
    .button:active,
    .button.is-checked:active {
      background-color: #28F;
    }

    .button.is-checked {
      background: #2b9b2b;
      color: #fff;
      text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
    }


    /* ---- button-group ---- */

    .button-group:after {
      content: '';
      display: block;
      clear: both;
    }

    .button-group .button {
      border-radius: 0;
    }

    .button-group .button:first-child { 
        border-radius: 25px 0 0 25px; 
    }
    .button-group .button:last-child { 
        border-radius: 0 25px 25px 0 ; 
    }


    /* ---- .grid-item ---- */

    .grid-item > * {
      margin: 0;
      padding: 0;
    }
    .grid-item {
        width: 20%;
        padding: 15px;
    }
    .grid-item img {
        width: 100%;
    }


/*****Testimonial-Area*****/

    .testimonial-carousel-item p:before {
        content: '"';
    }

    .testimonial-carousel-item p:after {
        content: '"';
    }

    .testimonial-author {
        margin-top: 10px;
    }

    .tesimonial-author-img {
        width: 46px;
        height: 46px;
        padding: 5px;
        border: 2px solid #e0dfdf;
        border-radius: 50%;
        overflow: hidden;
    }

    .testimonial-author-info {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;
    }
    
    .testimonial-author-name{
        margin-bottom: 4px;
    }

    .owl-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .owl-nav div{
        background: #000;
        color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        line-height: 20px;
        text-align: center;
        margin-top: -28%;
        transform: translateY(-50%);
    }
    
    .owl-prev {
        margin-left: -20px;
    }

    .owl-next {
        margin-right: -20px;
    }
    
/***Our-Happy-Client-Area**/

    .our-hpy-clnt-area{
        background: #f2f1f1;
    }

    .our-hpy-clnt-carousel{
        margin-bottom: 60px;
    }
    
    .our-hpy-clnt-carousel .owl-item img{
        display: inline-block;
        width: auto;
    }
    
    .our-hpy-clnt-img:not(:last-child){
        margin-bottom: 60px;
    }

    .see-all-clnt-butn{
        color: #a59d9d;
        background: #dddcdc;
        padding: 11px 25px;
    }

    .see-all-clnt-butn>*{
        margin: 0 10px;
    }


/****Meet-The-Team-Area****/

    .meet-the-tm-area{
        background: #54d154;
        padding-bottom: 0;
    }

    .meet-the-tm-item {
        flex-direction: column;
    }

    .meet-the-tm-img {
        height: 125px;
        width: 125px;
        background: #fff;
        border-radius: 50%;
        overflow: hidden;
        padding: 10px 0;
    }

    .meet-the-tm-item span {
        height: 95px;
        border: 2px solid #207b20;
        margin: 12px 0;
    }

    .meet-the-tm-butn{
        margin-top: 12px;
        padding: 4px 6px;
    }

    .meet-the-tm-butn a {
        padding: 0 2px;
        font-size: 11px;
    }

    .meet-the-tm-butn i.fa.fa-dribbble {
        color: red;
        font-size: 22px;
    }    

    .meet-the-tm-butn i.fa.fa-behance,
    .meet-the-tm-butn i.fa.fa-twitter {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        color: #fff;
    }
    .meet-the-tm-butn i.fa.fa-behance {
        background: #0061ff;
    }    

    .meet-the-tm-butn i.fa.fa-twitter {
        background: #00aced;
    }


/**Work-With-Us-Butn-Area**/

    .wrk-wth-us-butn-area{
        background: #3eba3e;
    }

/********Footer-Area*******/

    .footer-area{
        background: #333;
    }
    
    .footer-area p {
        margin-top: 0;
    }

    .footer-left-title {
        flex-direction: column;
    }

    .footer-left-butn{
        padding: 4px 6px;
        width: 23%;
        margin-top: 28px;
    }

    .footer-column h4 {
        margin-bottom: 20px;
    }

    .footer-center-post {
        margin-bottom: 12px;
    }

    .footer-center-post-info {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
    }

    .footer-center-post-butn{
        margin-top: 8px;
        padding: 5px 6px;
        border-radius: 4px;
        font-size: 12.6px;
        font-family: montserrat;
    }

    .fcp-butn-1{
        background: #54d154;
    }


    .fcp-butn-2{
        background: #ffba00;
    }


    .fcp-butn-3{
        background: #089dea;
    }


    .fcp-butn-4{
        background: #f34d04;
    }


    .fcp-butn-5{
        background: #ffba00;
    }

    .footer-contact-form{
        margin-top: 30px;
        border-radius: 5px;
    }

    .footer-contact-form>* {
        width: 100%;
        padding: 14px 10px;
        margin-bottom: 3px;
        border: none;
        background: #444;
        color: #777;
    }

    .footer-contact-form input[type="text"] {
        border-radius: 10px 10px 0 0;
    }


    .footer-contact-form textarea {
        min-height: 132px;
    }

    .footer-contact-form .butn {
        border-radius: 0 0 10px 10px;
        background: #2b9b2b;
        color: #fff;
    }

    .footer-area .container-fluid{
        background: #222;
    }

    .footer-logos{
        justify-content: space-around;
    }


    .footer-copyright{
        justify-content: space-around;
        background: #111111;
        color: #fff;
        padding: 8px 0;
    }

/*******Media Query********/

@media screen and (max-width: 990px){
    
    .main-menu{
        display: none;
    }
    
    .mob-menu{
        display: block;
        text-align: right;
    }
}